.title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.subtitle {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 14px;
}

.label {
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: end;
  /*transform: rotate(-90deg);*/
}

.rect {
	stroke: #ffffff;
	stroke-width: 0.1px;
}

.herdLine {
  stroke: #555555;
  stroke-width: 0.5px;
  stroke-dasharray: 5px;
}